@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* font-family: "Open Sans", sans-serif;
font-family: "Bitter", serif; */
/* this is the content for teh header on 
on each page */

header {
  text-align: center;
  background-color: #066489;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
}

i {
  background-color: #066489;
  padding: 5px;
  border: #ffdbc2 solid 3px;
  color: #ff8484;
  font-size: 25px;
}

i:hover {
  background-color: white;
}

button:hover {
  background-color: #ff8484;
}

#town {
  font-size: 24px;
}

h1,
h2 {
  font-size: 13px;
  margin: 7px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#logoImg {
  width: 190px;
  height: auto;
}

#weatherIcon{
  border: none;
  background-color: #ffdbc2;
  color: white;
  font-size: 4em;
  height: auto;
  width:auto;
}

section {
  margin: 10px;
}

.btn {
  font-size: 30px;
  color: white;
  background-color: #066489;
  border: 3px solid white;
  z-index: 3;
  margin: 10px;
}

.currentDate {
  font-size: 16px;
  color: white;
  align-items: center;
  margin: 10px;
}

body {
  background-color: #ffdbc2;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

#container {
  grid-column: 2;
  grid-row: inherit;
}

ul {
  background-color: #ffdbc2;
  border-radius: 20px;
  list-style: none;
  padding: 0;
  font-family: "Bitter", serif;
}

li {
  padding: 10px;
} 

a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

a:hover {
  background-color: #ff8484;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.disappear {
  display: none;
}

footer {
  text-align: center;
  background-color: #066489;
  padding: 15px;
  border-radius: 30px;
  color: white;
  font-family: "Bitter", serif;
  margin-top: 20px;
}

#adjustFoot {
  display: inline;
}

#footImg {
  width: 190px;
  height: auto;
}

#pin {
  border: none;
  background-color: #066489;
}

#linkLocation {
  color: white;
}

#linkLocation:hover {
  text-decoration: underline;
}

hr {
  width: 80%;
}

/* page specific */

main {
  text-align: center;
  grid-column: 2;
}



main div {
  /* padding: 90px; */
  border: #066489 10px solid;
  margin: 10px;
  font-family: "Bitter", serif;
  padding: 10px;
}

.spotlight {
  text-align: center;
  padding: 0;
}

#joinUsBanner {
  /* background-color: white; */
  font-family: "Bitter", serif;
  color: white;
}

/* page specific */

#mediumContainer,
#spot3,
#join {
  display: none;
}

/* body h2 and p */
main div h2,
main div p {
  color: #066489;
}

/* inside hero div */

#hero {
  position: relative;
  padding: 0;
}
#joinBtn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 10px;
  background-color: #066489;
  color: white;
  border: solid 3px #066489;
  font-size: 17px;
  z-index: 1;
  font-size: 13px;
  padding: 5px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.6);
}

#joinBtn:hover {
  background-color: white;
  color: #066489;
  cursor: pointer;
  opacity: 0.6;
}

#tower {
  width: 100%;
  height: auto;
  z-index: auto;
  object-fit: cover;
  display: block;
}
/* inside event div */

#eventImg {
  width: 30%;
  height: 30%; 
}

/* Discover Page */
.discovery picture img {
  width: 97%;
  height: 97%;
  margin-top: 15px;
  border-radius: 30px;
  border: solid 7px #066489;
  margin: 0px;
  box-shadow: 5px 5px 7px black;
}

/* JOIN page */

#businessMain #joinMain{
  /* display: flex; */
}

form{
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
  /* border: solid 3px #066489; */
}

#radio, #radio div{
  border: none;
  padding: 0px;
  width: auto;
}

label{
  font-weight: bold;
}


form input:required{
  border-left: red solid 6px
}

form input:required:valid{
  border-left: green solid 6px
}

form input:placeholder-shown{
  font-family: "Open Sans", sans-serif;
}

textarea:placeholder-shown{
  font-family: "Bitter", serif; 
  
}

label{
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

label, input{
  display: block;
  margin: 7px;
  font-size: 20px;
}

input{
  margin-bottom: 20px;
  border: 3px solid #066489;
}

textarea{
  height: 150px;
  width: 315px;
  border: 3px solid #066489;
}

#radio label, #radio input{
  display: inline;
}

input[type='radio'] { 
  transform: scale(1.8); 
}

#memberTitle{
  font-size: 30px;
  color: #066489;
  margin: 20px;
  text-align: center;
}

#benefits{
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

#button{
  background-color: #066489;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  margin: 10px auto;
  margin-bottom: 20px;

}

#benefitsContainer{
  display: flex;
  flex-direction: column;
}

/* Thank you Page */
#submitPage{
  text-align: center;
  border: none;
}

.thanks{
  font-size: 2em;

}


/* Directory */

#businessTitle{
  color:#066489;
  font-size: 30px;
  text-decoration: underline;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.cards section {
  border: 2px solid black;
  color:white;
  box-shadow: 3px 3px 7px black;
  background-color: #066489;
  padding: 30px;
  text-align: center;
  width: 300px;
  margin: 20px;
  grid-column: 2;
}

main i {
  border: 2px solid #ff8484;
  font-size: 40px;
  margin: 10px;
}

main h2{
  font-size: 20px;

}

main img{
  width: 250px;
  height: 200px;
}

.workshop {
  width: auto;
  height: auto;
  display: block;
}

td{
  height: 20px;

}

table, td{
  border: 3px solid black;
  /* padding: 15px; */
}

table{
  /* margin:0 auto; */
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  /* margin: 20px; */
  background-color: #ff8484;
 
}

#tableContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

tr:nth-child(2n -1){
  background-color: #ffdbc2;
}

