@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* this is the content for teh header on 
on each page */

header {
  text-align: center;
  background-color: #066489;
  padding: 15px;
  border-radius: 30px;
}

i {
  background-color: #066489;
  padding: 5px;
  border: #ffdbc2 solid 3px;
  color: #ff8484;
  font-size: 25px;
}

i:hover {
  background-color: white;
}

button:hover {
  background-color: #ff8484;
}

#town {
  font-size: 24px;
}

h1,
h2 {
  font-size: 13px;
  margin: 7px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

#logoImg {
  width: 190px;
}

section {
  margin: 10px;
}

.btn {
  font-size: 30px;
  color: white;
  background-color: #066489;
  border: 3px solid white;
  z-index: 3;
  margin: 10px;
}

.currentDate {
  font-size: 16px;
  color: white;
  align-items: center;
  margin: 10px;
}

body {
  background-color: #ffdbc2;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

#container {
  grid-column: 2;
  grid-row: inherit;
}

ul {
  background-color: #ff8484;
  border-radius: 20px;
  list-style: none;
  padding: 0;
  font-family: "Bitter", serif;
}

li {
  padding: 10px;
}

.disappear {
  display: none;
}

footer {
  text-align: center;
  background-color: #066489;
  padding: 15px;
  border-radius: 30px;
  color: white;
  font-family: "Bitter", serif;
}

#adjustFoot {
  display: inline;
}
/* page specific */

main {
  text-align: center;
  grid-column: 2;
}

main div {
  padding: 90px;
  border: #066489 10px solid;
  margin: 10px;
}

.spotlight {
  text-align: center;
  padding: 0;
}

div {
  font-family: "Bitter", serif;
}

/* page specific */

#mediumContainer,
#spot3,
#join {
  display: none;
}
