@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: aquamarine;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h2, h1 {
    color: black;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
}